<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/c0d5a27922.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;386;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalleproducto.css">
    <title>The Shoes Company</title>

</head>
<body>

    <%- include('./partials/header') %>

<main>
   
            <div class = "fotos360" >
                <img class ="img360" src="/images/Suede Classic rojo atras.png" >
                <img class ="img360" src="/images/suede classic rojo arriba.png" >
                <img class ="img360" src="/images/suede classic rojo abajo y arriba.png">
            </div>
            <div class ="fotodetalle">
                <img class ="mainphoto" src="/images/suede classic rojo.png" >
                <p>Suede llegó a la escena en 1968 y ha estado cambiando el juego desde entonces. Ha sido usado por el ícono Este año, relanzamos el Suede con combinaciones de colores frescas y sutiles actualizaciones de diseño. Clásico como siempre.</p><br>
            </div>
            <div class = "NombrePagoColorTalla" >
                <p>Suede Classic XXI </p><br>
                <p>$10.000</p>
                <br><br>
                <p>Color:</p>
                <section class="colores">
                    <label>
                        <input type="radio" name="colores" value="suedeblue" checked>
                        <img src="/images/suede blue.jpg">
                    </label>
                    <label>
                        <input type="radio" name="colores" value="suedered2" checked>
                        <img src="/images/suede red2.jpg">
                    </label>
                    <label>
                        <input type="radio" name="colores" value="suedeblack" checked>
                        <img src="/images/suede black.jpg">
                    </label>
                </section
                            <p>Talla :</p>
                <div class="talla" style="width:200px;">

                    <select>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                    </select>

                </div>
                <br>
                <button type="submit" onclick="alert('Hemos añadido tu producto al carrito ')">Agregar al carrito </button>
                <br><br><br><br><br>
            

            </div>
    
            
          
          
                
                   
        
            
         
</main>

<footer>
    <ul class= "contacto"> CONTACTO
        <li><a class="linkfooter"href="#">Servicio al cliente</a></li>
        <li><a class="linkfooter"href="#">Tiendas</a></li>
        <li><a class="linkfooter"href="#">Reclamos </a></li>
    </ul>
    <ul class= "acerca"> ACERCA DE
        <li><a class="linkfooter"href="#">Nuestra compañia</a></li>
        <li><a class="linkfooter"href="#">Sostenibilidad</a></li>
        <li><a class="linkfooter"href="#">Accionistas </a></li>
       
    </ul>
    <ul class= "servicios"> SERVICIOS
        <li><a class="linkfooter" href="#">Envios nacionales</a></li>
        <li><a class="linkfooter"href="#">Envios internacionales</a></li>
        <li><a class="linkfooter"href="#">Regalos </a></li>
    </ul>
    <ul class= "socialmedia">
        <li><a class="footerlink" href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram fa-2x"></i></i></a></li>
        <li><a href="#"><i class="fab fa-youtube fa-2x"></i></i></a></li>
        <li><a href="#"><i class="fas fa-map-marker-alt fa-2x"></i></a></li>
    </ul>
</footer>

</body>
</html>