<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://kit.fontawesome.com/c0d5a27922.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;386;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/home.css">
        <title>The Shoes Company</title>
    
    </head>
    <body>
    
        
        <%- include('./partials/header') %>
   
   
    <main>
        <div class="principal">
               <figure>
                <a href="/detail">
                    <img src="/images/Zapato home.PNG" alt="zapatohome" class="zapatohome">
                    
                </figure>
            
            
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-right"></i>
        
            <h5 class="coleccion">
                    EXPLORA NUESTRA NUEVA COLECCION
            </h5>

            </div>


            <h5 class="ofertas">
                 POPULAR / OFERTAS
            </h5>
            <div class="contenedor">
                
            <section class = "contenedorimagen">    
               
                <img src="/images/ZAPATO 1.PNG" alt="zapatilla 1" class= "imagen"></img>
                <img src="/images/ZAPATO 2.PNG" alt="zapatilla 2" class= "imagen">
                <img src="/images/ZAPATO 3.PNG" alt="zapatilla 3" class= "imagen" >
                <img src="/images/ZAPATO 4.PNG" alt="zapatilla 4" class= "imagen" >
                <img src="/images/ZAPATO 5.PNG" alt="zapatilla 4" class= "imagen imagenafuera" >
                <img src="/images/ZAPATO 6.PNG" alt="zapatilla 4" class= "imagen imagenafuera" >
            </section>  
        </div>

    </main>

<footer>
    <ul class= "contacto"> CONTACTO
        <li><a class="linkfooter"href="#">Servicio al cliente</a></li>
        <li><a class="linkfooter"href="#">Tiendas</a></li>
        <li><a class="linkfooter"href="#">Reclamos </a></li>
    </ul>
    <ul class= "acerca"> ACERCA DE
        <li><a class="linkfooter"href="#">Nuestra compañia</a></li>
        <li><a class="linkfooter"href="#">Sostenibilidad</a></li>
        <li><a class="linkfooter"href="#">Accionistas </a></li>
       
    </ul>
    <ul class= "servicios"> SERVICIOS
        <li><a class="linkfooter" href="#">Envios nacionales</a></li>
        <li><a class="linkfooter"href="#">Envios internacionales</a></li>
        <li><a class="linkfooter"href="#">Regalos </a></li>
    </ul>
    <ul class= "socialmedia">
        <li><a class="footerlink" href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram fa-2x"></i></i></a></li>
        <li><a href="#"><i class="fab fa-youtube fa-2x"></i></i></a></li>
        <li><a href="#"><i class="fas fa-map-marker-alt fa-2x"></i></a></li>
    </ul>
</footer>

</body>
</html>