<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/c0d5a27922.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;386;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productList.css">
    <title>The Shoes Company</title>

</head>
<body>

 <%- include('./partials/header') %>

<main>
   
            <div class = "products" >
                <a href="/detail">
                    <img src="/images/suede classic rojo.png" >
                </a>  
                <a href="/detail">
                    <img src="/images/zapato 2.png" >
                </a>  
                <a href="/detail">
                    <img src="/images/zapato 3.png" >
                </a>  
                <a href="/detail">
                    <img src="/images/zapato 6.png" >
                </a>  
                <a href="/detail">
                    <img src="/images/zapato 4.png" >
                </a>  
                <a href="/detail">
                    <img src="/images/zapato 5.png" >
                </a>  
            </div>
           
        
            
         
</main>

<footer>
    <ul class= "contacto"> CONTACTO
        <li><a class="linkfooter"href="#">Servicio al cliente</a></li>
        <li><a class="linkfooter"href="#">Tiendas</a></li>
        <li><a class="linkfooter"href="#">Reclamos </a></li>
    </ul>
    <ul class= "acerca"> ACERCA DE
        <li><a class="linkfooter"href="#">Nuestra compañia</a></li>
        <li><a class="linkfooter"href="#">Sostenibilidad</a></li>
        <li><a class="linkfooter"href="#">Accionistas </a></li>
       
    </ul>
    <ul class= "servicios"> SERVICIOS
        <li><a class="linkfooter" href="#">Envios nacionales</a></li>
        <li><a class="linkfooter"href="#">Envios internacionales</a></li>
        <li><a class="linkfooter"href="#">Regalos </a></li>
    </ul>
    <ul class= "socialmedia">
        <li><a class="footerlink" href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram fa-2x"></i></i></a></li>
        <li><a href="#"><i class="fab fa-youtube fa-2x"></i></i></a></li>
        <li><a href="#"><i class="fas fa-map-marker-alt fa-2x"></i></a></li>
    </ul>
</footer>

</body>
</html>