header div.logo{
    margin-top: 30px;
    
}

.top-header { 
    width: auto;
    height: auto;
    text-align:center;
  }
  
img{
    width: 18%;
}

main{
  width: 100%;
}
.camposLogin { 
    width: auto;
    height: auto;
    text-align:left;
    margin : 20px 50px 3px 50px;
    padding: 20px 300px 20px 300px;
  }

 p{
  font-size: 10;
  font-style: italic;
}


button{
    background-color: #eba917;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 430px;
  }


  .linkLogin{
      margin: 10px;
      padding: 20px 300px 20px 360px;
      margin-left: 30px;
  }

 
  