<!DOCTYPE html>
<html lang="es">
<head>
    
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/productList.css">
    <title>The Shoes Company</title>

</head>
<body>

 <%- include('./partials/header') %>

<main>
   
            <div class = "products" >
                
                <a href="/detail/2">
                    <img src="/images/zapato 2.png" >
                </a>  
                <a href="/detail/3">
                  <img src="/images/suede classic rojo.png" >
              
                </a>  
                <a href="/detail/4">
                    <img src="/images/zapato 3.png" >
                </a>  
                <a href="/detail/1">
                    <img src="/images/zapato 1.png" >
                </a>  
                <a href="/detail/5">
                    <img src="/images/zapato 4.png" >
                </a>  
                <a href="/detail/6">
                    <img src="/images/zapato 5.png" >
                </a>  
            </div>
           
        
            
         
</main>

<%- include('./partials/footer') %>

</body>
</html>